<div class="container-fluid">
  <h1>Редактирование раздела</h1>

  <%= render('admin/sections/form', section: @section, url: admin_section_path(@section)) %>

  <br>

  <div>
    <%= link_to('Показать раздел', admin_section_path(@section)) %>
  </div>
</div>
